#My_Bg{
	background:  #b6b6b6; 
	padding-top: 16px;
	position: relative;
}
#icon{
	position: absolute;
	left: .15rem;
	top: .2rem;
	font-size: .35rem;
	font-weight: 700;
}
#My_Bg .gutter-row{
	text-align: center;
	border-left: 1px solid #999;

} 
#My_Bg .gutter-row p{
	margin-bottom: .1rem;
	color: #fff;
	font-size: .27rem;
} 
#Login{
	width: 1.5rem;
	height: 1.5rem;
	background: #f8f8f8;
	margin: .15rem auto 0 auto;
	border-radius: 50%;
	text-align: center; 
 }
 
#Login p{
	font-size: .25rem;
	text-align: center;
	color: #989898;
}
#Login .anticon-user-add{
	font-size: .8rem;
}
#person_name{
	margin-bottom: 40px;
}
#Look{
	padding: .25rem .01rem;
	border-bottom: 1px solid #eaeaea; 
}

#Look .ant-col-8{
text-align: center;
}
#Look  .ant-col-8 .anticon-right{
	margin-left: .1rem;
}
#Dan_txt{
	color: black;
	font-size: .35rem; 
}

.order-nav p{
	text-align: center;
	padding: .1rem 0;
	font-size: .25rem;
}

.order-nav .anticon{
	font-size: .4rem;
}
.blow{
	height: .2rem;
	background: #f8f8f8;
}
.fh-link-bar{
	padding: 30px 15px;
	border-bottom: 1px solid #eaeaea;
	font-size: .28rem;
	
}
.fh-link-bar span{
	color: black;
}
.fh-link-bar .anticon-right{
	float: right; 
	line-height: 1.5;
	color: black;
}