.am-navbar{
	background: #fff;
	color: black;
}
.phone{
	margin: 59px 0 60px 40px;
}
.register_box{
	 
	display: flex;
	padding: 0 40px;
	position: relative;

}
#Input_s,#Input_psd{
	height: 84px; 
	border-radius: 10px;
	border: none;
	border: 1px solid #E3E3E3;
	flex: 1;
	line-height: 26px;
    padding: 9px 0 9px 13px;
    font-size: 25px;
    margin-right: .1rem;	
    width: 70%;	 
}
.Rg_txt{
width: 100%;
}
.Close_a{
	position: absolute;
	right: 2.7rem;
	top: .3rem; 
}
#Pull_right{
	width: 27%;
	height: 0.87rem;
	background: #fff;
	color: black;
	border: 1px solid #E3E3E3;
	line-height: .26rem;
	font-size: .23rem;
	line-height: .94rem;

}
#Input_psd{
	width: 88vw;
	margin-top: .5rem; 
}
.Eye_a{
	position: absolute;
	top: 1.65rem;
	right: 1rem;
}
.am-list-content span{
	font-size: .25rem;
}
.am-checkbox-item{
	margin-bottom: .6rem;
	background: #F5F5F9;
}
.register_txt .am-button {
	background: #BBBBBB;
	border: none;
}
.phone span{
	color: #FA3862;
}
.am-checkbox-wrapper .am-checkbox{
	color: #FA3862;
}